
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
#areautente-container body {
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 500vh;
    margin: -20px 0 50px;
}

#areautente-container .benvenuto {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 25px;
    font-weight: 300;
    color: #fff;
    background: #1C283B;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
    padding: 2px 5px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: medium;
}

#areautente-container .datanascita {
position:relative;
    top: -354px;
    left: 160px;
    width: 50%;
    letter-spacing: 0.1px;
}

#areautente-container .scadenza {
    position: relative;
    width: 18%;
    top: 8px;
    left: 90px;
    color: #fff;
    background: #ffb13b;
    padding: 2px 5px;
    border-radius: 4px;
    margin-right: 200px;
    font-weight: bold;
    font-size: 8px;
    letter-spacing: 1px;
    margin: 0;
    color: #000000;

}



#areautente-container .spedizione {
    position: relative;
    margin-top: 10px;
    left: 0px;
    width: 45%;
    top: 10px;
    height:20px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    font-size: 15px;
    display: block;
    color: #000000;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3) ;
    border-radius: 4px;
    text-transform: uppercase;
}

#areautente-container .pagamenti {
    position: relative;
    margin-top: 30px;
    left: 0px;
    width: 45%;
    top: 10px;
    height:20px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    font-size: 15px;
    display: block;
    color: #000000;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3) ;
    border-radius: 4px;
    text-transform: uppercase;
}


#areautente-container .divisione {
    margin-top: 10px;
}


#areautente-container .nome{
    align-content: center;
    padding: 20px 20px 5px 20px;
    margin-top: -5%;
    display: block;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#areautente-container h1.bianco {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: #FFFFFF;
}

#areautente-container h1.email {
    font-weight: bold;
    font-size: 15px;
    margin: 0;
    color: #000000;
    text-transform: lowercase;
}

#areautente-container h1.nero {
    font-weight: bold;
    font-size: 15px;
    margin: 0;
    color: #000000;
}

#areautente-container #igialla {
    color: orange;
    margin-left: 5px;
}

#areautente-container.ul-color li a.yellow {
    background: #ffd414;
}


#areautente-container p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
    color: #FFFFFF;
}



#areautente-container a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

#areautente-container button {
    border-radius: 20px;
    border: 1px solid #5e9cce;
    background-color: #5e9cce;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

#areautente-container button:active {
    transform: scale(0.95);
}

#areautente-container button:focus {
    outline: none;
}

#areautente-container button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

#areautente-container form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

#areautente-container input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

#areautente-container .container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}



#areautente-container .container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

#areautente-container .sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

#areautente-container .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

#areautente-container .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

#areautente-container .container.right-panel-active .overlay-container{
    transform: translateX(-100%);
}

#areautente-container .overlay {
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #1C283B, #1c283b);
    background: linear-gradient(to right, #1C283B, #1C283B);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

#areautente-container .container.right-panel-active .overlay {
    transform: translateX(50%);
}

#areautente-container .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

#areautente-container .overlay-left {
    transform: translateX(-20%);
}

#areautente-container .container.right-panel-active .overlay-left {
    transform: translateX(0);
}

#areautente-container .overlay-right {
    right: 0;
    transform: translateX(0);
}

#areautente-container .container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

#areautente-container .social-container {
    margin: 20px 0;
}

#areautente-container .social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}
