.badge {
    position: absolute;
    background-color: #6394f8;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.sidebar-cart {
    display: none;
    margin: 20px 0;
    float: right;
    background: whitesmoke;
    width: 360px;
    position: absolute;
    right: 50px;
    border-radius: 3px;
    padding: 20px;
    overflow: hidden;
    white-space: nowrap;
}
.sidebar-cart .sidebar-cart-header {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 15px;
}
.sidebar-cart .sidebar-cart-header .sidebar-cart-total {
    float: right;
}
.sidebar-cart .sidebar-cart-items {
    padding-top: 20px;
}
.sidebar-cart .sidebar-cart-items li {
    margin-bottom: 18px;
}
.sidebar-cart .sidebar-cart-items img {
    float: left;
    margin-right: 12px;
    height: 70px;
}
.sidebar-cart .sidebar-cart-items .item-name {
    display: block;
    padding-top: 10px;
    font-size: 16px;
}
.sidebar-cart .sidebar-cart-items .item-price {
    color: #6394f8;
    margin-right: 8px;
}
.sidebar-cart .sidebar-cart-items .item-quantity {
    color: #abb0be;
}
.sidebar-cart .sidebar-cart-items .item-total-price {
    display: block;
    float: right;
    font-weight: bold;
    color: #6394f8;
    font-size: 16px;
}
.sidebar-cart:after {
    bottom: 100%;
    left: 89%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
}
.cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
}
.button {
    background: #6394f8;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    margin: 25px 0 15px 0;
}
.button:hover {
    background: #729ef9;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.addtocart-animation {
    background: #00A8FF;
    display: none;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    /* transition: left 1s ease-in , top 1s ease-in; */
}
.shake {
    animation: shakeCart .4s ease-in-out forwards;
}

@keyframes shakeCart {
    25% {
        transform:translateX(6px)
    }
    50% {
        transform:translateX(-4px);
    }
    75% {
        transform:translateX(2px);
    }
    100% {
        transform:translateX(0);
    }
}
