/*------------------------------------------------------------------
    File Name: custom.css
-------------------------------------------------------------------*/

/** ADD YOUR AWESOME CODES HERE **/

div.container {
    padding-top: 25px;
    padding-bottom: 75px;
}

nav {
    border-bottom: 3px solid #057299;
    margin-bottom: 30px;
}

footer {
    margin-top: 50px;
}

/** show_multiple **/
.elemento-multiple-container {
    box-shadow: 3px 3px 3px 2px #00A8FF;
    margin-bottom: 20px;
    min-height: 50px;
}

.show_container .h1 {
    color: black;
}

.show_container .fa {
    /*color: #00A8FF;*/
}
