


.titolo
{
    position: relative;
    color: black;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 15px;
    left: -440px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    display: block;
}

.titoloo
{
    position: relative;
    color: black;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 15px;
    left: -520px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    display: block;
}

.titolow
{
    position: relative;
    color: black;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 15px;
    left: -470px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    display: block;
}


.nome{
    position: relative;
    top: 5px;
    font-size:25px;
    font-weight: bold;
    left: 60px;
}

.alias{
    text-transform: uppercase;
    position: relative;
    left: 160px;
    font-weight: bold;
    color: #fff;
    background: orange;
    padding: 2px 5px;
    border-radius: 4px;
    margin-right: 200px;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 1px;
    margin: 0;
    color: #000000;
}

.titoloi
{
    position: relative;
    color: black;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 15px;
    left: -500px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    display: block;
}

.piu
{
    position: absolute;
    top: 90px;
    left: -100px;
    color: #1e2838;
    font-size:30px;
}


.piu2
{
    position: absolute;
    top: 10px;
    left: -100px;
    color: #1e2838;
    font-size:30px;
}

.piu3
{
    position: absolute;
    top: 100px;
    left: -950px;
    color: #1e2838;
    font-size:30px;
}

.piu4
{
    position: absolute;
    top: 300px;
    left: -950px;
    color: #1e2838;
    font-size:30px;
}


.carta2
{
    position: absolute;
    top: 60px;
    left: -200px;
    font-size: 20px;
    color: #5c98cb;
}

.wishlist
{
    position: absolute;
    top: 10px;
    left: -200px;
    font-size: 20px;
    color: #5c98cb;
}



.carta3
{
    position: absolute;
    top: 50px;
    left: -200px;
    font-size:10px;
    color: orange;
}

.carta4
{
    position: absolute;
    top: 50px;
    left: -100px;
    font-size:10px;
    color: #5c98cb;
}

.carta4p
{
    position: absolute;
    top: 230px;
    left: 740px;
    font-size:10px;
    color: #5c98cb;
}

.modifica
{
    position: absolute;
    top: 50px;
    left: 120px;
    font-size:15px;
    color:orange ;
}

.modifica2
{
    position: relative;
    top: 50px;
    left: 220px;
    font-size:15px;
    color:orange ;
}
.back
{

    font-size:15px;
    color:#1e2839 ;
}

.int2 {
    position: relative;
    width:auto;
    color: #fff;
    background: #1e2839;
    padding: 2px 5px;
    border-radius: 4px;
    margin-right: 200px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0;
    color: #000000;

}
.int3 {
    position: relative;
    left 120px;
    width:auto;
    color: #fff;
    background: #1e2839;
    padding: 2px 5px;
    border-radius: 4px;
    margin-right: 200px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0;
    color: #000000;

}

.scadenza {
    position: absolute;
    top: 110px;
    width:auto;
    color: #fff;
    background: orange;
    padding: 2px 5px;
    border-radius: 4px;
    margin-right: 200px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0;
    color: #000000;

}

.cvv {
    position: absolute;
    top: 140px;
    width:auto;
    color: #fff;
    background: #1e2839;
    padding: 2px 5px;
    border-radius: 4px;
    margin-right: 200px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0;
    color: #000000;

}

.int {
    position: relative;
    text-transform: uppercase;
    width: auto;
    top: 8px;
    left: 120px;
    color: #fff;
    background: #1e2839;
    padding: 2px 5px;
    border-radius: 4px;
    margin-right: 200px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0;
    color: #000000;

}

.numerocarta{
    color:#1e2839 ;
}

.numerocarta{
    position: absolute;
    right: 10px;
}

.font{
    color: white;
}

