.recensioni {
    position: absolute;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.2);
    font-size: 25px;
    font-weight: 300;
    color: #fff;
    background: linear-gradient(135deg, #5e9cce 40%, #39ee08 60%);
    padding: 2px 5px;
    border-radius: 4px;
    top: 330px;
    right: -274px;
    left: 470px;
}

.carrello {
    position: absolute;
    right: 5px;
    top: 400px;
    font-size: 30px;
    color: #6db19b;
}

.recensioni_container {
    position: absolute;
    display: block;
    padding: 0 20px;
    top: 380px;
    left: 450px;
    width: 650px;
    font-size: 20px;;
}

.recensioni_container .recensione_rating {
    color: #FF9529;
}
.recensioni_container .recensione_row {
    display: none;
}
.recensioni_container .recensione_titolo {
    font-weight: bold;
}
.recensioni_container .recensione_descrizione {}
.recensioni_container .next_recensione_button {}
.recensioni_container .previous_recensione_button {}