
.card {
    position: relative;
    border-radius: 25px;
    box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
}

.card-head {
    position: relative;
    height:254px;
    background: #fa782e;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #499dd4 8%, #1c283b 83%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #499dd4 8%, #1c283b 83%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #499dd4 20%, #1c283b 85%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fa782e', endColorstr='#c82930', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    border-radius: 25px 25px 0 0;
}
.scrivi {
    position: absolute;
    top: 335px;
    right: -310px;
    font-size: 20px;
    color: orange;
    margin-left: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
}


.cancella {
    position: absolute;
    top: 335px;
    right: -340px;
    font-size: 20px;
    color: orange;
    margin-left: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
}

.product-img {
    position: absolute;
    left: 0;
    margin-top: -8%;
    margin-left: 3%;
}
.wishlist
{
    position: relative;
    top:25px;
    left: 85px;
    font-size: 6px;
    color: #5c98cb;
}


.card-body {
    height: 280px;
    background: #fff;
    border-radius: 0 0 25px 25px;
}

.product-title {
    padding: 20px 20px 5px 20px;
    margin-top: -5%;
    display: block;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.product-title b {
    font-weight: 900;
    letter-spacing: 0px;
}

.badge {
    position: relative;
    font-size: 25px;
    font-weight: 300;
    color: #fff;
    background: #499dd4;
    padding: 2px 5px;
    border-radius: 4px;
    top: 10px;
    margin-right: 200px;
}


.product-caption {

    display: block;
    padding: 0 20px;
    margin-TOP: 0px;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.product-rating {
    position: relative;
    padding:20px;
    font-size: 20px;
}
.product-rating2 {
    position: relative;
    padding:20px;
    font-size: 22px;
}

.product-rating i.grey {
    color: #acacab;
}

.product-size h4 {
    font-size: 20px;
    padding: 0px;
    margin-top: 15%;
    margin-left: 25%;
    padding-bottom: 0px;
    text-transform: uppercase;
}

.ul-size {
    margin-left: 15px;
    font-size: 20px;

}

.ul-size li {
    list-style: none;
    float: left;
    font-size: 20px;
    margin-right: 20px;
}

.ul-size li a {
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    text-align:center;
    line-height: 40px;
    color: #000;
}

.ul-size li a.active {
    margin-top: -10px;
    background: #1c283b;
    color: #fff;
}

.product-size:before {
    position: absolute;
    margin-top: -15px;

}
.product-size:after {
    position: absolute;
    margin-top:25px;
    margin-bottom:2px;
    content: '';
    display: block;
    clear: both;
}


.ul-color {
    margin-left: 27px;
}

.ul-color li {
    list-style: none;
    float: left;
    margin-right: 20px;
}

.ul-color li a {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 100%;
}

.ul-color li a.orange {
    background: #f35e3d;
}

.ul-color li a.green {
    background: #11e95b;
}

.ul-color li a.yellow {
    background: #ffd414;
}

.ul-color li a.active:after {
    position:relative;
    content: '';
    display: inline-block;
    border: 1px solid #f35e3d;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    margin-left: -5px;
    margin-top: -5px;
}

.product-price {
    position: absolute;
    top:460px;
    right:-50px;
    background: #499dd4;
    padding: 7px 20px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    font-weight: 200;
    color: #fff;
    border-radius: 7px;
    margin-top: -15px;
    margin-left: -5px;
    box-shadow: -10px 20px 15px -10px rgba(28, 40, 59, 0.5);
}

.next {
    position: relative;
    right:-20px;
    padding: 7px 20px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    font-weight: 200;
    color: #fff;
    border-radius: 7px;
    margin-top: -15px;
    margin-left: -5px;
    box-shadow: -10px 20px 15px -10px rgba(28, 40, 59, 0.5);
    background: linear-gradient(135deg, #39ee08 20%, #5e9cce 60%);
}

.product-price b {
    margin-left: 5px;
}

.yt
{
    position: fixed;
    padding:7px 10px 3px 10px;
    top: 5px;
    right: 5px;
    background: rgba(0,0,0,0.1);
}

.yt:hover
{
    background: rgba(0,0,0,0.2);
}

.descrizione {
    position: absolute;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.2);
    font-size: 25px;
    font-weight: 300;
    color: #fff;
    background: linear-gradient(135deg, #499dd4 20%, #1c283b 50%);
    padding: 2px 5px;
    border-radius: 4px;
    width: auto;
    top: 150px;
    right: -580px;
    left: 470px;
}

.descrizione2 {
    position: absolute;
    display: block;
    padding: 0 20px;
    top: 200px;
    left: 450px;
    width: 650px;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}