<?php
    $mysql_hostname = "localhost";
    $mysql_username = "root";
    $mysql_password = "";
    $mysql_database = "tdw2021";

    $dbh = new PDO("mysql:dbname=$mysql_database;host=$mysql_hostname", $mysql_username, $mysql_password);
?>
